{% extends "base.html" %}
{% block title %}
	Produit
{% endblock title %}
{% block content %}
	<div class="container header mb-5">
		<div class="account-header">
			<div class="row">
				{% if user.is_authenticated %}
					<div class="col-md-8 col-5">
						<a href="{% url 'mon_panier' %}" class="header-link souligne"><button class="form-btn">Mon panier</button></a>
					</div>
					<div class="col-md-4 col-7">
						<a href="{% url 'compte' %}" class="header-link souligne"><button class="form-btn"><div class="online-div"></div> Mon Compte</button></a>
					</div>
				{% else %}
					<div class="col-md-8 col-5">
						
					</div>
					<div class="col-md-4 col-7">
						<a href="{% url 'register_view' %}" class="header-link souligne"><b>Inscription</b></a> / <a href="{% url 'login_view' %}" class="header-link souligne"><b>Connexion</b></a>
					</div>
				{% endif %}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<img src="{{produit.image.url}}" class="cpc">
			</div>
			<div class="col-md-8" style="padding:10px">
				<h2><strong>{{produit.nom}}</strong></h2><br>
				<div class="row">
					<div class="col-md-3">
						<p><strong>Description : </strong></p>
					</div>
					<div class="col-md-9">
						<p style="opacity:.8">{{produit.detail}}</p>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-md-3">
						<h5 style="color:#eee;opacity:.8"><strong>Prix : </strong>{{produit.prix}} Fcfa</h5>
					</div>
					<div class="col-md-9">
						<a href="{% url 'ajout_panier' id_produit=produit.id %}"><button style="border:1px solid #eee;padding:5px;color:#eee;background : none;border-radius:5px"><b>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
  								<path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
  								<path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
							</svg>
							Ajouter au panier 
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart3 " viewBox="0 0 16 16">
                				<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              				</svg>

              			</b></button></a>
              			<br><br><p>Ou bien</p>
              			<a href="https://wa.me/221766489421?text=Salut%2C+je+suis+int%C3%A9ress%C3%A9+par+votre+annonce+%3A+https%3A%2F%2Ftheoservice.herokuapp.com/theo/detail/{{produit.id}}+sur+Etablissement-Darou-Fayan">
              				<button style="border:1px solid #eee;padding:5px;color:#eee;background : none;border-radius:5px">
              					<i class="fab fa-whatsapp"></i> Commander Via Whatsapp
              				</button>
              			</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
{% endblock content %}